/*Общие стили*/
body
{
	color: rgb(0, 0, 0);
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	min-width: 1200px;
	padding: 0;
}
header
{
	background-color: rgb(238, 238, 238);
	min-height: auto;
}
.container
{
	margin: 0 auto;
	width: 1160px;
}
a
{
	color: inherit;
	text-decoration: none;
}
.btn
{
	border-radius: 3px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
}
.btn
{
	color: rgb(255,255,255);
}
/*общее мен для двух страниц*/
.page-title
{
	font-size: 55px;
	line-height: 55px;
}
.nav-margin .current
{
	position: relative;
}
.nav-margin .current::before
{
	background-color: rgb(251, 86, 90);
	content: "";
	height: 2px;
	left: 0px;
	position: absolute;
	top: 130%;
	width: 100%;
}
.logo
{
	margin-top: 30px;
}
.logo .main-title
{
	display: none;
}
h1
{
	font-size: 55px;
	margin-top: 70px;
	padding-bottom: 105px;
	text-align: center;
}
.logo a:hover
{
	opacity: 0.8;
}
.logo a:active
{
	opacity: 0.3;
}
.nav-margin li:first-child
{
	cursor: pointer;
}
.nav-margin
{
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 20px;
	width: inherit;
}
.nav-margin a:visited
{
	color: black;
}
.nav-margin a:hover
{
	color: rgb(251, 86, 90);
}
.nav-margin a:active
{
	color: rgb(166, 166, 166);
}
.main-nav
{
	margin-left: auto;
	margin-top: 40px;
	width: 575px;
}
.main-nav ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
}
.basket
{
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	margin-left: auto;
	margin-top: 56px;
	text-transform: uppercase;
	width: 115px;
}
.basket a
{
	background-image: url("../img/sprite-icon.png");
	background-position: -4px 5px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	display: inline-block;
	padding-left: 40px;
	width: 100%;
}
.main-nav li
{
	box-sizing: border-box;
	color: black;
	list-style-type: none;
	margin-right: 44px;
	text-transform: uppercase;
}
/*index.html*/
.slider
{
	margin: 0 auto;
	margin-bottom: 80px;
	min-height: 424px;
	position: relative;
	width: 1160px;
}
.slider input[type=radio]
{
	opacity: 0;
	position: absolute;
}
.slide-control
{
	bottom: 95px;
	height: 18px;
	left: 50%;
	margin-left: -80px;
	position: absolute;
	right: 535px;
	text-align: center;
	width: 160px;
	z-index: 1000;
}
.slide-control label
{
	background: white;
	border: 5px solid white;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 0 7px;
	position: relative;
	width: 8px;
}
#btn-1:checked ~ .slide-control label[for="btn-1"]::before,
#btn-2:checked ~ .slide-control label[for="btn-2"]::before,
#btn-3:checked ~ .slide-control label[for="btn-3"]::before
{
	background: #ffffff;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
	content: "";
	height: 4px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 4px;
}
.slides
{
	min-height: 424px;
	width: 1160px;
}
.slide
{
	display: none;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}
.slide:nth-child(1)
{
	background: url(../img/slider-1.jpg) no-repeat 100% 97%;
}
.slide:nth-child(2)
{
	background: url(../img/slider-2.jpg) no-repeat 100% 97%;
}
.slide:nth-child(3)
{
	background: url(../img/slider-3.jpg) no-repeat 100% 97%;
}
input[id="btn-1"]:checked ~ .slides .slide:nth-child(1),
input[id="btn-2"]:checked ~ .slides .slide:nth-child(2),
input[id="btn-3"]:checked ~ .slides .slide:nth-child(3)
{
	display: block;
}
.slide .slide-text
{
	margin-bottom: 40px;
	padding: 65px 0;
	width: 525px;
}
.slide-title
{
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	margin-bottom: 27px;
}
.slide-info
{
	margin-top: 30px;
}
.slide:nth-child(3) .slide-title
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: -5px;
	margin-top: -5px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 440px;
}
.line-break
{
	width: 420px;
}
.slide-text p
{
	margin-bottom: 39px;
}
.slide-info
{
	color: #283136;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	white-space: pre-line;
}
.slider-btn
{
	background-color: rgb(261, 86, 90);
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	min-height: 50px;
	padding-bottom: 16px;
	padding-top: 16px;
	width: 240px;
}
.slider-btn:hover
{
	background-color: #e74246;
}
.slider-btn:active
{
	box-shadow: inset 0 78px 0 rgba(215,55,59,0.5),
 inset 0 3px 0 0 #c13135;
	color: rgba(255,255,255,0.3);
}
.service
{
	border-bottom: 2px solid rgb(238, 238, 238);
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 80px;
	min-height: 430px;
	padding-right: 60px;
	width: inherit;
}
.service p
{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 33px;
	width: 250px;
}
.service h2
{
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}
.service .btn
{
	color: white;
	padding-bottom: 15px;
	padding-left: 35px;
	padding-right: 39px;
	padding-top: 14px;
	width: 160px;
}
.service-btn-yellow
{
	background-color: rgb(239, 200, 74);
}
.service-btn-green
{
	background-color: rgb(0, 202, 116);
}
.service-btn-red
{
	background-color: rgb(261, 86, 90);
}
.service-btn-yellow:hover
{
	background-color: rgb(234, 181, 52);
}
.service-btn-green:hover
{
	background-color: rgb(0, 188, 108);
}
.service-btn-red:hover
{
	background-color: rgb(231, 66, 70);
}
.service-btn-yellow:active
{
	background-color: rgb(229, 167, 34);
	box-shadow: inset 0 48px 0 rgba(206, 150, 31, 0.5), inset 0 3px 0 0 rgb(206, 150, 31);
	color: rgb(237, 194, 101);
}
.service-btn-green:active
{
	background-color: rgb(0, 170, 98);
	box-shadow: inset 0 48px 0 rgba(0, 153, 88, 0.5), inset 0 3px 0 0 rgb(0, 153, 88);
	color: rgb(77, 196, 145);
}
.service-btn-red:active
{
	background-color: rgb(215, 55, 59);
	box-shadow: inset 0 48px 0 rgba(193, 49, 53, 0.5), inset 0 3px 0 0 rgb(193, 49, 53);
	color: rgb(227, 115, 118);
}
.studio
{
	border-bottom: 2px solid rgb(238, 238, 238);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	min-height: 532px;
	width: inherit;
}
.studio-info .krasnodar
{
	box-sizing: border-box;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	margin-bottom: 31px;
	margin-top: 70px;
	min-height: 85px;
	width: 700px;
}
.krasnodar + p
{
	margin-bottom: 39px;
}
.krasnodar ~ h3
{
	margin-bottom: 27px;
	text-transform: uppercase;
}
.studio-info li
{
	list-style-type: none;
	margin-bottom: 25px;
	margin-left: -7px;
	position: relative;
}
.studio-info li::before
{
	background-color: rgb(261, 86, 90);
	content: "";
	height: 2px;
	margin-left: -34px;
	position: absolute;
	top: 10px;
	width: 23px;
}
.studio-info p
{
	width: 613px;
}
.logo-img
{
	margin-bottom: 30px;
	margin-top: 48px;
}
.studio-features h3
{
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	padding-left: 8px;
	text-transform: uppercase;
}
.features-block
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 40px;
	width: 340px;
}
.features-percent
{
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
}
.features-item .features-percent sup
{
	font-size: 25px;
}
.features-item p
{
	font-size: 16px;
	line-height: 18px;
	width: 103px;
}
.our-clients
{
	border-bottom: 2px solid rgb(238, 238, 238);
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 180px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 46px;
	padding-left: 31px;
	padding-right: 41px;
	padding-top: 46px;
	width: inherit;
}
.client-item
{
	opacity: 0.2;
}
.client-item:hover
{
	opacity: 1.0;
}
.client-item:active
{
	opacity: 0.1;
}
/*Общая карта*/
.map
{
	box-sizing: border-box;
	height: 416px;
	margin-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	position: relative;
	width: 1200px;
}
.map-picture
{
	height: 100%;
	position: relative;
	width: 100%;
}
.map-picture img:nth-child(2)
{
	bottom: 140px;
	left: 700px;
	position: absolute;
}
.write-us
{
	background-color: white;
	color: black;
	left: 140px;
	min-height: 310px;
	position: absolute;
	top: 54px;
	width: 320px;
	z-index: 2;
}
.write-us .title
{
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 17px;
	margin-top: 52px;
	padding-left: 50px;
	padding-right: 60px;
	text-transform: uppercase;
	width: auto;
}
.write-us p, .phone
{
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding-left: 50px;
}
.write-us-btn
{
	background-color: rgb(261, 86, 90);
	border-radius: 2px;
	box-sizing: border-box;
	margin-left: 50px;
	margin-top: 37px;
	min-height: 50px;
	padding-bottom: 13px;
	padding-left: 44px;
	padding-right: 30px;
	padding-top: 13px;
	width: 222px;
}
.write-us-btn:hover
{
	background-color: #e74246;
}
.write-us-btn:active
{
	box-shadow: inset 0 78px 0 rgba(215,55,59,0.5),
 inset 0 3px 0 0 #c13135;
	color: rgba(255,255,255,0.3);
}
/*Общий footer*/
.footer-social
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 60px;
	min-height: 82px;
	width: 960px;
}
.social-buttons
{
	font-size: 0px;
	margin-left: 1px;
	margin-right: 39px;
	min-height: 78px;
	width: 360px;
}
.social-btn
{
	background-color: rgb(225, 225, 225);
	background-image: url("../img/sprite-icon.png");
	background-repeat: no-repeat;
	border-radius: 50%;
	display: inline-block;
	font-size: 0px;
	height: 78px;
	margin-right: 13px;
	vertical-align: middle;
	width: 78px;
}
.social-btn:hover
{
	background-color: #e74246;
}
.social-btn:active
{
	box-shadow: inset 0 3px 0 0 #c13135,
 inset 0 78px 0 rgba(215,55,59,0.7);
}
.social-btn-vk
{
	background-position: 26px -85px;
}
.social-btn-fb
{
	background-position: 26px -27px;
}
.social-btn-inst
{
	background-position: 26px -143px;
}
.call-to-action
{
	margin-left: auto;
	width: 560px;
}
.call-to-action .friendship
{
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	box-sizing: border-box;
	margin-bottom: -5px;
	width: 560px;
}
.call-to-action
{
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-top: -32px;
	width: 560px;
}
/*Общее модальное окно*/
.modal-content
{
	background-color: white;
	bottom: 175px;
	box-shadow: 20px 45px 45px rgba(0, 0, 0, 0.3), -20px 45px 45px rgba(0, 0, 0, 0.3);
	display: none;
	left: 50%;
	max-height: 670px;
	min-height: 590px;
	position: fixed;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	width: 960px;
	z-index: 3000;
}
.empty-space
{
	background-color: rgba(0,0,0,0.5);
	display: none;
	min-height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1050;
}
.modal-content h2
{
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	margin-left: 100px;
	margin-top: -18px;
	padding-left: 0px;
	width: 660px;
}
.modal-content label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.writeus-form
{
	margin-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 760px;
}
.writeus-form input[type="text"], .writeus-form input[type="email"]
{
	border: 2px solid rgb(215, 220, 222);
	border-radius: 2px;
	box-sizing: border-box;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	width: 360px;
}
.main-user-info
{
	margin-bottom: 30px;
}
.writeus-form textarea
{
	border: 2px solid rgb(215, 220, 222);
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 45px;
	max-height: 195px;
	min-height: 115px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 10px;
	width: 760px;
}
.writeus-form input[type="text"]
{
	margin-right: 40px;
}
.writeus-form .main-user-info
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 90px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 760px;
}
.modal-content label
{
	display: inline-block;
	font-weight: bold;
	margin-bottom: 7px;
}
.modal-content button
{
	background-color: white;
	border-width: 0px;
	cursor: pointer;
	display: block;
	font-size: 0px;
	height: 24px;
	margin-left: 847px;
	margin-top: 77px;
	position: relative;
	width: 24px;
}
.modal-content button::before
{
	background-color: rgb(254, 204, 205);
	content: "";
	height: 4px;
	position: absolute;
	right: 0px;
	top: 10px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	width: 24px;
}
.modal-content button::after
{
	background-color: rgb(254, 204, 205);
	content: "";
	height: 4px;
	position: absolute;
	right: 0px;
	top: 10px;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	width: 24px;
}
.modal-content button:hover::before, .modal-content button:hover::after
{
	background-color: rgb(251, 86, 90);
}
.modal-content button:active::before, .modal-content button:active::after
{
	background-color: rgb(255, 238, 238);
}
.modal-content button:active
{
	outline: none;
}
.modal-content button:focus
{
	outline: none;
}
.modal-content .btn
{
	background-color: rgb(251, 86, 90);
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	min-height: 50px;
	width: 260px;
}
.modal-content .btn:hover
{
	background-color: #e74246;
}
.modal-content .btn:active
{
	box-shadow: inset 0 78px 0 rgba(215,55,59,0.5),
 inset 0 3px 0 0 #c13135;
	color: rgba(255,255,255,0.3);
}
.modal-content .btn:focus
{
	border: none;
	outline: none;
}
.submit:active
{
	outline: none;
}
.submit
{
	border: none;
}
.main-user-info input, .modal-content textarea
{
	border: 2px solid rgb(215, 220, 222);
	border-radius: 3px;
}
.modal-content input::-webkit-input-placeholder, .modal-content textarea::-webkit-input-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input::-ms-input-placeholder, .modal-content textarea::-ms-input-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input::-webkit-input-placeholder, .modal-content textarea::-webkit-input-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input::-moz-placeholder, .modal-content textarea::-moz-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input:-ms-input-placeholder, .modal-content textarea:-ms-input-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input::placeholder, .modal-content textarea::placeholder
{
	color: rgb(161,161,161);
}
.main-user-info input:hover, .modal-content textarea:hover
{
	border: 2px solid rgb(180, 185, 187);
	border-radius: 3px;
}
.modal-content input:hover::-webkit-input-placeholder, .modal-content textarea:hover::-webkit-input-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input:hover::-ms-input-placeholder, .modal-content textarea:hover::-ms-input-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input:hover::-webkit-input-placeholder, .modal-content textarea:hover::-webkit-input-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input:hover::-moz-placeholder, .modal-content textarea:hover::-moz-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input:hover:-ms-input-placeholder, .modal-content textarea:hover:-ms-input-placeholder
{
	color: rgb(161,161,161);
}
.modal-content input:hover::placeholder, .modal-content textarea:hover::placeholder
{
	color: rgb(161,161,161);
}
.main-user-info input:focus, .modal-content textarea:focus
{
	border: 2px solid black;
	border-radius: 3px;
	outline: none;
}
.modal-content input:focus::-webkit-input-placeholder, .modal-content textarea:focus::-webkit-input-placeholder
{
	color: rgb(118, 118, 118);
}
.modal-content input:focus::-ms-input-placeholder, .modal-content textarea:focus::-ms-input-placeholder
{
	color: rgb(118, 118, 118);
}
.modal-content input:focus::-webkit-input-placeholder, .modal-content textarea:focus::-webkit-input-placeholder
{
	color: rgb(118, 118, 118);
}
.modal-content input:focus::-moz-placeholder, .modal-content textarea:focus::-moz-placeholder
{
	color: rgb(118, 118, 118);
}
.modal-content input:focus:-ms-input-placeholder, .modal-content textarea:focus:-ms-input-placeholder
{
	color: rgb(118, 118, 118);
}
.modal-content input:focus::placeholder, .modal-content textarea:focus::placeholder
{
	color: rgb(118, 118, 118);
}
.writeus-form-error input[type="text"],
.writeus-form-error input[type="email"],
.writeus-form-error textarea[name="text"]
{
	border-color: #e74246;
}
.writeus-form-error input::-webkit-input-placeholder, .writeus-form-error textarea::-webkit-input-placeholder
{
	color: rgb(237, 116, 119);
}
.writeus-form-error input::-ms-input-placeholder, .writeus-form-error textarea::-ms-input-placeholder
{
	color: rgb(237, 116, 119);
}
.writeus-form-error input::-webkit-input-placeholder, .writeus-form-error textarea::-webkit-input-placeholder
{
	color: rgb(237, 116, 119);
}
.writeus-form-error input::-moz-placeholder, .writeus-form-error textarea::-moz-placeholder
{
	color: rgb(237, 116, 119);
}
.writeus-form-error input:-ms-input-placeholder, .writeus-form-error textarea:-ms-input-placeholder
{
	color: rgb(237, 116, 119);
}
.writeus-form-error input::placeholder, .writeus-form-error textarea::placeholder
{
	color: rgb(237, 116, 119);
}
.modal-content-show
{
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
	display: block;
}
@-webkit-keyframes bounce
{
	0%
	{
		-webkit-transform: translate(-50%,-100%);
		        transform: translate(-50%,-100%);
	}
	70%
	{
		-webkit-transform: translate(-50%, 30px);
		        transform: translate(-50%, 30px);
	}
	90%
	{
		-webkit-transform: translate(-50%, -10px);
		        transform: translate(-50%, -10px);
	}
	100%
	{
		-webkit-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}
}
@keyframes bounce
{
	0%
	{
		-webkit-transform: translate(-50%,-100%);
		        transform: translate(-50%,-100%);
	}
	70%
	{
		-webkit-transform: translate(-50%, 30px);
		        transform: translate(-50%, 30px);
	}
	90%
	{
		-webkit-transform: translate(-50%, -10px);
		        transform: translate(-50%, -10px);
	}
	100%
	{
		-webkit-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}
}
.empty-space-show
{
	display: block;
}
/*catalog.html*/
.layout input
{
	display: none;
	opacity: 1;
}
.layout label
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.layout label:hover
{
	cursor: pointer;
}
.product-options
{
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	height: auto;
	width: 760px;
}
.name-type ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0px;
}
.name-type li
{
	list-style-type: none;
	margin-right: 20px;
}
.name-type li:last-child
{
	list-style-type: none;
	margin-right: 40px;
}
.sorting
{
	margin-right: 40px;
	width: 360px;
}
.sorting h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}
.sorting-option
{
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.sorting-option a
{
	color: rgb(184, 184, 184);
}
.sorting-option a:hover
{
	color: rgb(77, 77, 77);
}
.sorting-option a:active
{
	color: rgb(0, 0, 0);
}
.sorting-option .active
{
	color: rgb(0, 0, 0);
}
.sorting-up-down
{
	width: 40px;
}
.sorting-up-down ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}
.sorting-up-down li
{
	list-style-type: none;
}
.sorting-up-down a
{
	color: rgb(184, 184, 184);
}
.sorting-up-down a:hover
{
	color: rgb(77, 77, 77);
}
.catalog-form {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}
.catalog-form .catalog-radio-indicator
{
	border: 4px solid rgb(184, 184, 184);
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 16px;
	margin-right: 10px;
	position: relative;
	width: 16px;
}
.price h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}
input[value="adaptive"]:checked + .catalog-radio-indicator::before,
input[value="fixed"]:checked + .catalog-radio-indicator::before,
input[value="responsive"]:checked + .catalog-radio-indicator::before
{
	background-color: rgb(184, 184, 184);
	border: 4px solid rgb(184, 184, 184);
	border-radius: 50%;
	box-sizing: border-box;
	content: "";
	height: 4px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 4px;
}
.name-radio
{
	color: rgb(97, 104, 108);
}
.name-radio:hover .catalog-radio-indicator
{
	border: 4px solid rgb(77, 77, 77);
}
.name-radio:hover
{
	color: rgb(0, 0, 0);
}
.name-radio:hover input[value="adaptive"]:checked + .catalog-radio-indicator::before,
.name-radio:hover input[value="fixed"]:checked + .catalog-radio-indicator::before,
.name-radio:hover input[value="responsive"]:checked + .catalog-radio-indicator::before
{
	background-color: rgb(77, 77, 77);
	border: 4px solid rgb(77, 77, 77);
}
.range-controls
{
	background: #f1f1f1;
	border-radius: 5px;
	height: 41px;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 39px;
	position: relative;
}
.range-controls .scale
{
	background: #d7dcde;
	height: 2px;
}
.range-controls .bar
{
	background: #00ca74;
	height: 2px;
	width: 70%;
}
.range-controls .range-item
{
	background: #ababab;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
	height: 4px;
	left: 0px;
	position: absolute;
	top: 30px;
	width: 4px;
}
.range-controls .range-item-left
{
	left: 20px;
}
.range-controls .range-item-right
{
	left: 165px;
}
.price-controls
{
	font-size: 0;
}
.price-controls label
{
	display: inline-block;
	font-size: 16px;
	width: 50%;
}
.max-price
{
	text-align: right;
}
.price-controls input
{
	background: #f1f1f1;
	border: none;
	border-radius: 5px;
	color: #283136;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	margin-left: 10px;
	padding: 8px 10px;
	text-align: center;
	width: 60px;
}
.special label
{
	color: rgb(97, 104, 108);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.special label:hover
{
	cursor: pointer;
}
.layout p:nth-child(2) .name-radio
{
	width: 130px;
}
.layout p:nth-child(3) .name-radio
{
	width: 158px;
}
.layout p:nth-child(4) .name-radio
{
	width: 120px;
}
.catalog-checkbox-indicator
{
	border: 3px solid rgb(184, 184, 184);
	border-radius: 4px;
	display: block;
	height: 18px;
	margin-right: 10px;
	position: relative;
	width: 18px;
}
.special input
{
	display: none;
}
input[name="slider"]:checked + .catalog-checkbox-indicator::after,
input[name="features-block"]:checked + .catalog-checkbox-indicator::after,
input[name="news"]:checked + .catalog-checkbox-indicator::after,
input[name="gallery"]:checked + .catalog-checkbox-indicator::after,
input[name="cart"]:checked + .catalog-checkbox-indicator::after
{
	background-color: rgb(184, 184, 184);
	bottom: 1.7px;
	content: "";
	height: 20px;
	left: 15px;
	outline: 2px solid white;
	position: absolute;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	width: 5px;
	z-index: 1;
}
input[name="slider"]:checked + .catalog-checkbox-indicator::before,
input[name="features-block"]:checked + .catalog-checkbox-indicator::before,
input[name="news"]:checked + .catalog-checkbox-indicator::before,
input[name="gallery"]:checked + .catalog-checkbox-indicator::before,
input[name="cart"]:checked + .catalog-checkbox-indicator::before
{
	background-color: rgb(184, 184, 184);
	bottom: 1.7px;
	content: "";
	height: 12px;
	left: 6px;
	position: absolute;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	width: 4.5px;
	z-index: 2;
}
.name-checkbox
{
	color: rgb(97, 104, 108);
	width: 103px;
}
.special p:nth-child(3) .name-checkbox
{
	width: 185px;
}
.name-checkbox:hover .catalog-checkbox-indicator
{
	border: 3px solid rgb(77, 77, 77);
}
.name-checkbox:hover
{
	color: rgb(0, 0, 0);
}
.name-checkbox:hover input[name="slider"]:checked + .catalog-checkbox-indicator::before,
.name-checkbox:hover input[name="features-block"]:checked + .catalog-checkbox-indicator::before,
.name-checkbox:hover input[name="news"]:checked + .catalog-checkbox-indicator::before,
.name-checkbox:hover input[name="gallery"]:checked + .catalog-checkbox-indicator::before,
.name-checkbox:hover input[name="cart"]:checked + .catalog-checkbox-indicator::before
{
	background-color: rgb(77, 77, 77);
}
.name-checkbox:hover input[name="slider"]:checked + .catalog-checkbox-indicator::after,
.name-checkbox:hover input[name="features-block"]:checked + .catalog-checkbox-indicator::after,
.name-checkbox:hover input[name="news"]:checked + .catalog-checkbox-indicator::after,
.name-checkbox:hover input[name="gallery"]:checked + .catalog-checkbox-indicator::after,
.name-checkbox:hover input[name="cart"]:checked + .catalog-checkbox-indicator::after
{
	background-color: rgb(77, 77, 77);
}
.blocked
{
	background: rgb(237, 237, 237);
	cursor: default;
}
.catalog-form .catalog-btn
{
	background-color: rgb(238, 238, 238);
	border-radius: 3px;
	border-width: 0px;
	box-sizing: border-box;
	color: black;
	display: inline-block;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	margin-top: 50px;
	min-height: 50px;
	outline: none;
	padding-bottom: 17px;
	padding-top: 17px;
	text-align: center;
	text-transform: uppercase;
	width: 260px;
}
.catalog-btn:hover
{
	background-color: rgb(223, 223, 223);
}
.catalog-btn:active
{
	background-color: rgb(213, 213, 213);
	box-shadow: inset 0 3px 0 0 rgb(191, 191, 191);
	color: rgb(149, 149, 149);
}
.main-content
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 1160px;
}
.main-content aside
{
	margin-right: 140px;
	width: 260px;
}
.card
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 760px;
	min-height: 1930px;
}
.card-item
{
	background-color: rgb(233, 233, 233);
	border-radius: 3px;
	height: 617px;
	margin-bottom: 35px;
	padding-bottom: 0px;
	position: relative;
	width: 360px;
}
.dots
{
	background-color: inherit;
	height: 25px;
	padding-bottom: 0px;
}
.dots ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	margin-bottom: 2px;
	min-height: 15px;
	width: 300px;
}
.dots-image
{
	padding-left: 15px;
}
.dots-image li
{
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	height: 14px;
	margin-right: 8px;
	position: relative;
	vertical-align: middle;
	width: 14px;
}
.template a:visited
{
	color: black;
}
.buy-item
{
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	background-color: rgb(233, 233, 233);
	bottom: -1px;
	display: none;
	left: 0px;
	min-height: 220px;
	padding-bottom: 10px;
	position: absolute;
	width: 360px;
}
.template
{
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
}
.card-item .btn-card
{
	background-color: rgb(251, 86, 90);
	box-sizing: border-box;
	margin-left: 50%;
	margin-top: 10px;
	min-height: 50px;
	padding-top: 15px;
	-webkit-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	        transform: translate(-50%);
	width: 200px;
}
.buy-item h3
{
	margin-bottom: -7px;
	text-transform: uppercase;
}
.btn-card:hover
{
	background-color: #e74246;
}
.btn-card:active
{
	box-shadow: inset 0 78px 0 rgba(215,55,59,0.5),
 inset 0 3px 0 0 #c13135;
	color: rgba(255,255,255,0.3);
}
.catalog-btn a:visited
{
	color: black;
}
.buy-item h3
{
	margin-top: 30px;
	text-align: center;
}
.buy-item p
{
	color: rgb(102, 102, 102);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 180px;
}
.card-item:nth-child(2) p, .card-item:nth-child(5) p, .card-item:nth-child(6) p
{
	width: 230px;
}
.card-item:hover .buy-item
{
	display: block;
}
.card-item:hover
{
	background-color: rgb(77, 77, 77);
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2), -5px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-item:hover .dots
{
	background-color: rgb(77, 77, 77);
}
.pagination
{
	margin-bottom: -20px;
	margin-top: 30px;
}
.page
{
	background-color: rgb(238, 238, 238);
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-block;
	height: 50px;
	margin-right: 7px;
	padding-top: 15px;
	text-align: center;
	width: 50px;
}
.pagination .active-page
{
	background-color: rgb(255, 255, 255);
	border: 3px solid rgb(238, 238, 238);
	padding-top: 12px;
}
.pagination .catalog-btn
{
	background-color: rgb(238, 238, 238);
	border-radius: 3px;
	box-sizing: border-box;
	color: black;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	min-height: 50px;
	outline: none;
	padding-bottom: 0px;
	padding-top: 18px;
	text-align: center;
	text-transform: uppercase;
	width: 260px;
}
.pagination a:not(.active-page):hover
{
	background-color: rgb(223, 223, 223);
}
.pagination a:not(.active-page):active
{
	background-color: rgb(213, 213, 213);
	box-shadow: inset 0 3px 0 0 rgb(191, 191, 191);
	color: rgb(149, 149, 149);
}
.product-options h2, .value h2
{
	margin-bottom: 60px;
}
